
   <div id="nav">
      <div class="navBoxes" id="aboutBox">
        <p id="About" class="clickBox" >About</p>
    </div>
    <div id="otherThreeBox">

      <a href="/postEdit" class="navBoxes" id="searchBox">
        <p id="Search" class="clickBox">Create Post</p>
      </a>

      <a href="/discover" class="navBoxes" id="TrendingBox">
        <p id="Trending" class="clickBox">Discover</p>
      </a>

        <a href="/" class="navBoxes" id="HomeBox">
          <p id="Home" class="clickBox">Home</p>
        </a>
      
    </div>
</div>