<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrawingPage</title>
    <link rel="stylesheet" href="css/drawingPage.css">
    <!-- <script src="/js/drawingPage.js" ></script> -->

    <script src="/js/sketch.js"></script>
    <!-- implant p5js -->
    <script src="/js/p5.js"></script>

</head>
<body>
    <div id="themeAndCountDown">
        <div id="themeRemind">Today's theme is <%= theme %> &nbsp Time left:&nbsp</div>
        <div id="countDownTime">30</div>
    </div>
    <div id="canvas">
        
    </div>
    <script>
        // 设置一个全局变量
        var loggedInUser = "<%= loggedInUser %>";
        var userId = "<%= userId %>";
      </script>

    

</body>
</html>