<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamePreparePage</title>
    <link rel="stylesheet" href="css/gamePrepare.css">
</head>
<body>
    <div id="GoBackBox">
        <a href="/">
        <img src="images/arrowLeft.png" width="80px" height="30px">
        </a>
    </div>
    <div id="centerBox">
        <div id="themeis">Today's doodling theme is: </div>
        <div id="theme"><%= theme %></div>
    </div>
    <div id="nextPageBox">
        <div id="readyTextBox">
            <div id="ruready">
                You only have 30 seconds to draw, ready?
            </div>
        </div>
        <div id="goBox">
            <div id="go">
                Go!
            </div>
        </div>
    </div>
    <script src="js/gamePrepare.js"></script>
</body>
</html>