<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include("nav.ejs", {}) %>
    <div id="main">
        <div id="TitleBox">
            <div id="TitleArea">TODAY's DOODLE</div>
            <div id="StartArea">
                <a href="gamePrepare.ejs" style=" text-decoration: none; color: inherit; " >
                <div id="startBtn">
                    Start
                </div>
                </a>
                    
            </div>

        </div>
    </div>
    <!-- <div id="UnderMain">
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>
        <div class="decorationImage"></div>






    </div> -->
    <script src="js/index.js"></script>
</body>
</html>