<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    <%- include("nav.ejs", {}) %>
    <div id="main">
        <div id="title">Welcome!</div>
        <div id="loginBox">
            <div id="loginTitle">Login</div>
            <form method="POST" action="/authenticate" id="loginForm">
                <input type="text" id="loginUsername" name="username" placeholder="username">
                <input type="password" id="loginPassword" name="password" placeholder="password">
                <input type="submit" id="loginSubmitBtn"  name="submitbutton" value="Next" class="submit-btn">
            </form>
            <a href="/signup"style=" color: inherit; "><div id="singUpRoute">Don't have an account? Sign up here</div></a>
            
        </div>

    </div>
    
</body>
</html>