<div id="navBar">
    <div id="leftTwo">
        <div class="navBox" id="About">About</div>
        <a href="/" style=" text-decoration: none; color: inherit; "><div class="navBox" id="Home">Home</div></a>
    </div>

    <div id="rightTwo">
        <a href="/gallery" style=" text-decoration: none; color: inherit; "><div class="navBox" id="Gallery">Gallery</div></a>
        <a href="/personal" style=" text-decoration: none; color: inherit; "><div class="navBox" id="Personal">Personal</div></a>
    </div>

</div>