<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Page</title>
    <link rel="stylesheet" href="css/personal.css">

</head>
<body>
    <%- include("nav.ejs", {}) %>
    <div id="main-container">
        <div id="UpperArea">
            <div id="HiUser">Hi <%= user.username%></div>
        </div>
        <div id="LowerArea">
            <div id="Yourpainting">Your painting</div>
            <div class = "scroll-container" id="PostedArea">
                <% paintings.forEach( (painting) => { %>
                    <%- include('individualPaintingSmallC.ejs', {painting: painting}) %>
                <% }) %>

            </div>
            <div id="CollectedPainting">Favorites</div>

            <div class = "scroll-container" id="SavedArea">
                <% paintings.forEach( (painting) => { %>
                    <%- include('individualPaintingC.ejs', {painting: painting}) %>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>